*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  background: #fff;
  font-family: "Open Sans", Sans-serif;
  font-size: 16px;
}

.contenedor{
  width: 90%;
  max-width: 1000px;
  margin:auto;
  overflow: hidden;
}


/* ---------- HEADER --------- */
header{
  background: url('../resources/fondo.jpg') #FBCBCA;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 600px;
}

header .menu{
 
  margin: 40px 0;
  text-align: center;
  border-radius: 7px;
}
header .menu-link:hover{
  border-radius: 6px;
  background-color: rgb(247, 162, 162);;
  color: white;
}

header .menu a{
  margin:0 20px;
  color:#707070;
  font-weight: bold;
  padding-bottom: 9px;
  display: inline-block;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  font-size: 1em;
}

header .menu a:hover{
  border-bottom: 2px solid #707070;
}

header .contenedor-texto{
  display: flex;
  justify-content: center;
  align-content: center;
  margin:120px 0;
}

header .contenedor-texto .texto{
  display: inline-block;
  text-align: center;
}

header .contenedor-texto .texto h1{
  color: #707070;
  font-family: "Satisfy";
  font-weight: bold;
  margin:0;
  font-size: 80px;
  line-height: 80px;
}

/* --------- MAIN ------- */

.main .contenedor{
  overflow: visible;
}

.main .acerca-de {
  text-align: center;
}

.main .acerca-de .foto{
  margin-top: -78px;
}

.main .acerca-de .foto img{
  vertical-align: top;
  border-radius: 50%;
  border: 5px solid rgba(255,255,255,0.4);
}

.main .acerca-de .texto{
  color: #5A5A5A;
  font-weight: 600;
  font-size: 1em;
  line-height: 30px;
  width: 80%;
  margin: 40px auto 60px auto;
}

.main .acerca-de .texto .titulo{
  font-size: 34px;
  line-height: 34px;
  margin-bottom: 40px;
  font-weight: 300;
  color: #C25D72;
  text-align: center;
}

.main .acerca-de .texto .bold{
  color: #CE687C;
  text-decoration: underline;
}

.main .publicaciones{
  padding: 60px 0;
}

.main .publicaciones .publis-izquierda{
  background: #FFE6E9;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .publicaciones .publis-derecha{
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .publicaciones .contenedor{
  overflow: hidden;
}

.publicaciones .publis-izquierda .imagen-publis{
  text-align: center;
  width: 50%;
  float: left;
}

.publicaciones .imagen-publis img{
  border-radius: 20px;
}


.publicaciones .publis-izquierda .contenedor-texto{
  text-align: center;
  width: 50%;
  float: right;
}

.publicaciones .contenedor-texto .description{
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
}

.publicaciones .contenedor-texto .titulo-publis{
  font-size: 25px;
  margin-bottom: 40px;
  font-weight: bold;
  color: #C25D72;
  text-align: center;
}


.publicaciones .publis-derecha .imagen-publis{
  text-align: center;
  width: 50%;
  float: right;
}


.publicaciones .publis-derecha .contenedor-texto{
  text-align: center;
  width: 50%;
  float: left;
}


/************* FOOTER *********/
.contacto{
  padding: 60px 0;
}

.contacto .titulo{
  font-size: 34px;
  line-height: 34px;
  margin-bottom: 40px;
  font-weight: 300;
  color: #C25D72;
  text-align: center;
}

.contacto .formulario{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacto .formulario input[type="text"],.contacto .formulario input[type="email"],.contacto .formulario textarea {
  border: 2px solid #cecece;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 20px;
  color: #a4a4a4;
  outline: none;
}

.contacto .formulario input[type="text"]:focus,.contacto .formulario input[type="email"]:focus,.contacto .formulario textarea:focus {
  border: 2px solid #C25D72;
}

.contacto .formulario input[type="text"],.contacto .formulario input[type="email"] {
  width: 49%;
  margin-bottom: 15px;
}

.contacto .formulario textarea {
  width: 100%;
  height: 100px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  max-height: 300px;
  margin-bottom: 15px;
}

.contacto .formulario .boton{
  margin: auto;
  background: #C25D72;;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 15px 40px;
  cursor: pointer;
}

.contacto .formulario .boton:hover{
  background: #CE687C;
}