.contenedor-crearCapsula{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.sub_titulo {
    font-size: 25px;
    margin-top: 100px;
    font-weight: bold;
    color: #C25D72;
}

.centrarBoton{
    display: flex;
    width: 100%;
    align-items: center;
}

.BotonEnv{
  margin: auto;
  margin-top: 30px;
  background: #c25d72;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 15px 40px;
  cursor: pointer;
}

.BotonEnv:hover{
    background: #ce687c;
}

.fecha{
    width: 50%;
}

.sub_correo{
   margin: auto;
  font-size: 25px;
    margin-top: 100px;
    font-weight: bold;
    color: #C25D72;
}

.sub_mensaje{
  margin: auto;
  font-size: 25px;
    margin-top: 100px;
    font-weight: bold;
    color: #C25D72;
}

.contenedor-crearCapsula .formulario input[type='text'],
.contenedor-crearCapsula .formulario input[type='email'],
.contenedor-crearCapsula .formulario textarea {
  border: 2px solid #cecece;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 20px;
  color: #a4a4a4;
  outline: none;
}

.contenedor-crearCapsula .formulario textarea {
    width: 100%;
  height: 100px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  max-height: 300px;
  margin-bottom: 15px;
}