footer .redes-sociales{
  background: #CE687C;
  padding: 60px 0;
  margin-top: 300px;
}

footer .redes-sociales .contenedor{
  display: flex;
  justify-content: center;
}

footer .redes-sociales a{
  font-size: 30px;
  color: #fff;
  text-align: center;
  width: 100px;
  display: block;
  padding: 15px 0;
  border-radius: 3px;
  margin: 0 20px;
}

footer .redes-sociales .twitter:hover{
  background: #1DA1F2;
}

footer .redes-sociales .youtube:hover{
  background: #FF0000;
}

footer .redes-sociales .facebook:hover{
  background: #3B5998;
}

footer .redes-sociales .github:hover{
  background: #777777;
}

footer .redes-sociales .instagram:hover{
  background: #E1306C;
}