.contenedor-home {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.main-home .contenedor-home {
  overflow: visible;
}

.main-home .acerca-de-home .texto {
  color: #5a5a5a;
  font-weight: 600;
  font-size: 1em;
  line-height: 30px;
  width: 80%;
  margin: 40px auto 60px auto;
}

.main-home .acerca-de-home .texto .titulo {
  font-size: 34px;
  line-height: 34px;
  margin-bottom: 40px;
  font-weight: 300;
  color: #c25d72;
  text-align: center;
}

.main-home .acerca-de-home .texto .bold {
  color: #ce687c;
  text-decoration: underline;
}

.main-home .publicaciones-home {
  padding: 60px 0;
}

.main-home .publicaciones-home .publis-izquierda {
  background: #ffe6e9;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-home .publicaciones-home .publis-derecha {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-home .publicaciones-home .contenedor-home {
  overflow: hidden;
}

.publicaciones-home .publis-izquierda .imagen-publis {
  text-align: center;
  width: 50%;
  float: left;
}

.publicaciones-home .imagen-publis img {
  border-radius: 20px;
}

.publicaciones-home .publis-izquierda .contenedor-texto {
  text-align: center;
  width: 50%;
  float: right;
}

.publicaciones-home .contenedor-texto .description {
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
}

.publicaciones-home .contenedor-texto .titulo-publis {
  font-size: 25px;
  margin-bottom: 40px;
  font-weight: bold;
  color: #c25d72;
  text-align: center;
}

.publicaciones-home .publis-derecha .imagen-publis {
  text-align: center;
  width: 50%;
  float: right;
}

.publicaciones-home .publis-derecha .contenedor-texto {
  text-align: center;
  width: 50%;
  float: left;
}

footer .contacto {
  padding: 60px 0;
}

footer .contacto .titulo {
  font-size: 34px;
  line-height: 34px;
  margin-bottom: 40px;
  font-weight: 300;
  color: #c25d72;
  text-align: center;
}

footer .contacto .formulario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .contacto .contenedor-home .formulario input[type='text'],
footer .contacto .contenedor-home .formulario input[type='email'],
footer .contacto .contenedor-home .formulario textarea {
  border: 2px solid #cecece;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 20px;
  color: #a4a4a4;
  outline: none;
}

footer .contacto .formulario input[type='text']:focus,
footer .contacto .formulario input[type='email']:focus,
footer .contacto .formulario textarea:focus {
  border: 2px solid #c25d72;
}

footer .contacto .formulario input[type='text'],
footer .contacto .formulario input[type='email'] {
  width: 49%;
  margin-bottom: 15px;
}

footer .contacto .formulario textarea {
  width: 100%;
  height: 100px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  max-height: 300px;
  margin-bottom: 15px;
}

footer .contacto .formulario .boton {
  margin: auto;
  background: #c25d72;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 15px 40px;
  cursor: pointer;
}

footer .contacto .formulario .boton:hover {
  background: #ce687c;
}
