.cont-all-misCapsulas{
    margin: auto;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 80px;

}
.cont-all-misCapsulas .tit-misCapsulas{
    margin: auto;
    background-color: #CE687C;
    width: 90%;
    border-radius: 5px;
    font-family: "Satisfy";
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #fff;
}


.container-misCapsulas{

    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 30px;
  }
  
  
  .item-misCapsulas{
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.095);
    
    transition: all 300ms;
    
    position: relative;
  }
  
  
  .item-misCapsulas::after {
    content: "";
    background-color: rgba(179, 229, 252, .1);
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    transform: scale(0);
    transition: all 300ms;
    opacity: 0;
  }
  
  .item-misCapsulas:hover:after{
    opacity: 1;
    transform: scale(1);
  }
  
  .item-misCapsulas:hover {
    transform: scale(1.05);
  }
  
  .item-text{
    padding: 1em;
  }
  
  
  .item-img{
    max-width: 100%;
    display: block;
  }
  
  
 
  

.cont-all-misCapsulas .cont-misCapsulas{
    background-color: rgb(247, 244, 244);
    margin: auto;
    margin-top: 80px;
    border: 3px solid #CE687C;
    border-radius: 5px;
    height: 500px;
    width: 90%;
}
.cont-all-misCapsulas .cont-misCapsulas button{
    margin: auto;
    padding: 10px 40px;
    border: none;
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: white;
    background-color: #C25D72;
    outline: none;
    transition: all 300ms;
    border-radius: 7px;

}
.cont-all-misCapsulas .cont-misCapsulas .button-misCapsulas{
    text-align: center;
    margin: auto;
    width: auto;
    padding-top: 3%;
    padding-bottom: 50px;

}

.cont-all-misCapsulas .cont-misCapsulas button:hover{
    background: #fdb4bf;
    color: white;
}

.etiquetaA{
    text-decoration: none;
}