.cont-all{
    margin: auto;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 80px;
    width: 1300px;
}

.usuario{
    margin: auto;
    margin-left: 30px;
    margin-top: 70px;
    float: left;
    background-color: #CE687C;
    width: 400px;
    border-radius: 20px;
}

.usuario .img-usuario{
    border-radius: 100%;
    border: 5px solid #dddbdb;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    color:#dddbdb ;
    padding-top:80px;
    width: 250px;
    height:250px;

}
.usuario .datos-usuario{
    border-radius: 20px;
    background-color: white;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    color:black ;
    padding:20px;
    width: 300px;

}

.publicaciones{
    background-color: #FFE6E9;
    border-radius: 20px;
    margin: auto;
    margin-left: 500px;
    margin-top: 70px;
    width: 820px;
    height: 800px;
}
.publicaciones .title-wish{
    margin: auto;
    padding-top: 30px;;
    color:#707070;
    font-family: "Satisfy";
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    width: 500px;
}
.publicaciones .wish{
    margin: auto;
    margin-top: 50px;
    background-color: white;
    border: 8px solid #CE687C;
    border-radius: 20px;
    width: 700px;
    height: 300px;

}

.publicaciones .galeria{
    margin: 10px 20px;
    box-shadow: 0 2px 5px 0 #CE687C, 0 6px 20px rgb(0,0,0,0.19) ;
    float: left;
    width: 100px;
    
}
.publicaciones .galeria img{
   margin: auto;
   width: 100%;
   height: auto;
}
.publicaciones .galeria:hover{
   border: 1px solid #C25D72;
   transform: rotate(-5deg);
}

.linea2{
    color: gray;

}
